
<div id="page_wrapper">
    <h1>Editing Installation</h1>

    <%= render 'form', installation: @installation %>

<br>
    <!--<%= link_to 'Show', @installation %> |-->
    <%= link_to 'Back', installations_path, class: "submit" %>
</div>
