<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpeg" %>
	</div>

	<div id="content">
		<h1>Hey, I'm Ila</h1>
		<p>Bla bla bla</p>
		<p>Art art art</p>
		<p>Fart fart fart me <a href="http://twitter.com/ilafirouzabadi">@ilafirouzabadi</a> or on the web at <a href="http://www.ilafirouzabadi.com">wwwi.ilafirouzabadi.com</a>, and get my posts and exclusive content in your inbox by signing up for my newsletter <a href="http://eepurl.com/02olT">here</a>.</p>
	</div>
</div>